body{
    background-color:#FFECEF;
}

hr{
    border-style:dotted none none none;
    border-color:#584153;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

h1{
    color: #AF8BAF;
}

h2{
    color: #584153;
}

h3{
    color: #AF8BAF;
}
